.footer-container {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 1);
    padding: 79px 128px 79px 64px;
    margin-top: 48px;
    color: rgba(255, 255, 255, 1);
  }
  
  .start-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    align-items: center;
  }
  
  .bethe-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .be-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 24px;
  }
  
  .sing-up-con {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    margin-bottom: 51px;
  }
  
  .input {
    width: 584px;
    height: 48px;
  
    gap: 8px;
  }
  
  .input input {
    width: 384px;
    height: 47px;
    padding: 14px 24px 14px 24px;
    gap: 8px;
    opacity: 0px;
    color: rgba(255, 255, 255, 1);
    margin-right: 8px;
  }
  
  .sub-but {
    width: 184px;
    height: 48px;
    background: rgba(0, 0, 0, 1);
    border-radius: 5px 0px 0px 0px;
    border: 1.14px solid rgba(255, 255, 255, 1);
    opacity: 0.3px;
    color: rgba(255, 255, 255, 1);
  
    outline: none;
  }
  
  .cons {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 16px;
  }
  
  .num {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    margin-bottom: 16px;
  }
  .custo {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    margin-bottom: 24px;
  }
  .curr {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 16px;
  }
  
  .cun-img-container {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .star {
    width: 6px;
    height: 6px;
    gap: 0px;
    opacity: 0px;
  }
  
  .cun-img-container p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: 1px;
    text-align: left;
  }
  .transaction {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
  }
  
  .end-container {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
  }
  
  .end-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  
  .ul-li-head {
    font-size: 24.71px;
    font-weight: 700;
    line-height: 29.66px;
    text-align: left;
    margin-bottom: 2px;
  }
  
  .end-container ul li {
    margin-bottom: 16px;
  }
  
  .follow-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .follw-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  
  .follow-img-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    margin-top: 24px;
  }
  
  .follow-img-container img {
    width: 62px;
    height: 62px;
  
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .meta-head {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 16px;
  }
  
  .meta-head span {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  .pay-img-container {
    display: flex;
    /* flex-direction: column; */
    gap: 8px;
  }
  
  .copyrig {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    margin-top: 37px;
  }
  
  @media screen and (max-width: 768px) {
    .start-container {
      flex-direction: column;
      align-items: normal;
    }
    .contact {
      margin-top: 20px;
    }
    .end-container {
      /* flex-direction: column;
      align-items: center; */
      gap: 30px;
    }
    .pay-img-container {
      flex-direction: column;
    }
    .pay-img-container img {
      width: 35.85px;
      height: 13.4px;
      top: 8.57px;
      left: 7.29px;
      gap: 0px;
      opacity: 0px;
    }
  }